# OS
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
.env
dist/
build/
*.egg-info/

# Node (if you add frontends)
node_modules/

# Editors
.vscode/
.idea/

# Data & cache
.cache/
logs/
*.log